html,
body {
  height: 100%;
  background-color: #fff;
}

html {
  font-size: 18px;
}

.principal {
  max-width: 720px;
}

/* LG - LESS THAN 75 */
@media (max-width: 74.9em) {
  /* Estilos para tamaños grandes de pantalla */
}

/* MD - LESS THAN 62 */
@media (max-width: 61.9em) {
  .principal {
    max-width: 720px;
  }

  #cover {
    padding-top: 2rem;
  }
}

/* SM - LESS THAN 48 */
@media (max-width: 47.9em) {
  .principal {
    max-width: 576px;
  }

  #cover {
    padding-top: 3rem;
  }

  .navbar .circle {
    font-size:2em;
    line-height: 0.5em;
  }
}

/* XS - LESS THAN 34 */
@media (max-width: 33.9em) {
  #cover {
    padding-top: 4rem;
  }
  
  #navbar ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
  
  .circle {
    font-size: 2em !important;
    flex-grow: 1;
  }
}

/* XXS - LESS THAN 25 */
@media (max-width: 24.9em) {
  .navbar-brand {width: 15%;}
  #navbar ul { width: 75%; }
  .pager { font-size: 3em; }
}

h3 {
  padding-top: 1rem;
  font-size: 1.1em;
  font-weight: bold;
}

.page {
  padding-top: 6em;
  text-align: justify;
}

.page h1, .page h2, .page h3 {
  text-align: left;
}

.page-content {
  padding-top: 2rem;
}

.vision {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.vision > .important {
  padding-top: 0em; 
  font-size: 2em;
}

.figure-caption {
  color: #666;
}

.destacado {
  padding: 1rem;
}

.muy-destacado {
  padding: 1.5rem;
  font-size: 1.5em;
  text-align: center;
}

.aclaracion {
  padding: 0.5rem;
  font-size: 0.9em;
}

hr.separator {
  margin-top: 2rem;
  padding-bottom: 2rem;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

li.active {
  font-weight: bolder;
}

.navbar-nav .nav-link {
  font-size: 0.8em;
  text-transform: uppercase;
  padding-top: .8rem;
}

#quienes-somos,
#problematica,
#propuesta,
#siguientes-pasos,
#sumate {
  padding-top: 6rem;
}

#alimentacion,
#los-animales-importan,
#contacto {
  padding-top: 2rem;
}

#contacto li a {
  padding-left: 0;
  padding-bottom: 0;
}

#contacto a {
  color: #9bc2cf;
}

#contacto a:hover {
  color: #add8e6;
  text-decoration: none;
}

.principal {
  padding-bottom: 6rem;
}

.section-header,
.page-header {
  border-bottom-style: solid;
  border-bottom-color: #000;
  border-bottom-width: 1px;
}

.section-header {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.sitemap-card-block {
  height: 18rem;
  overflow: hidden
}

.sitemap-card-block .card-title {
  font-size: 1.2em;
}

.lista-animales {
  list-style: none;
}

.number {
  width: 3em;
  display: inline-block;
  text-align: right;
}

.left-navigator li a.nav-link {
  padding-bottom: 0;
}