<footer id="contacto" class="bg-inverse">
  <article class="container">

    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="row">
          <div class="col-lg-12 col-sm-6">
            <h2>Contacto</h2>    
            <p>{{ site.description }}</p>
          </div>
          <div class="col-lg-12 col-sm-6">
            <dl>
              <dt>Email</dt>
              <dd>{{ site.email }}</dd>
              <dt>Facebook</dt>
              <dd><a href="http://facebook.com/{{ site.facebook_username }}">{{ site.facebook_username }}</a></dd>
              <dt>Twitter</dt>
              <dd><a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a></dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <ul class="nav nav-pills nav-stacked">
              {% for p in site.pages %}
                {% if p.number < 8 %}
                <li class="nav-item {% if p.url == page.url %}active{% endif %}">
                  <a class="nav-link" href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <ul class="nav nav-pills nav-stacked">
              <li class="nav-item {% if '/' == page.url %}active{% endif %}">
                <a class="nav-link" href="{{ site.baseurl }}/">Inicio</a>
              </li>
              {% for p in site.pages %}
                {% if p.number >= 8 %}
                <li class="nav-item {% if p.url == page.url %}active{% endif %}">
                  <a class="nav-link" href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>
</footer>