<nav id="navbar" class="navbar navbar-custom navbar-fixed-top navbar-dark bg-inverse scrollspy" role="navigation">
  <a class="navbar-brand" href="#">
    <img class="hidden-xs-down" src="assets/logoinit.png" alt="Coala" height="35" width="125">
    <img class="hidden-sm-up" src="assets/logoinit-small.png" alt="Coala" height="35" width="42">
  </a>

  <ul class="nav navbar-nav pull-md-right">

    <li class="nav-item device-size-helper">
      <a class="nav-link" href="#">
        <span class="hidden-xs-down hidden-md-up">SM</span>
        <span class="hidden-sm-down hidden-lg-up">MD</span>
        <span class="hidden-md-down hidden-xl-up">LG</span>
        <span class="hidden-lg-down             ">XL</span>
      </a>
    </li>

    <li class="nav-item page-scroll">
      <a class="nav-link" href="#quienes-somos">
        <span class="hidden-sm-down">¿Quiénes somos?</span>
        <span class="circle hidden-md-up">●</span>
      </a>
    </li>

    <li class="nav-item page-scroll">
      <a class="nav-link" href="#problematica">
        <span class="hidden-sm-down">Problemática</span>
        <span class="circle hidden-md-up">●</span>
      </a>
    </li>

    <li class="nav-item page-scroll">
      <a class="nav-link" href="#realidad">
        <span class="hidden-sm-down">Realidad</span>
        <span class="circle hidden-md-up">●</span>
      </a>
    </li>

    <li class="nav-item page-scroll">
      <a class="nav-link" href="#propuesta">
        <span class="hidden-sm-down">Propuesta</span>
        <span class="circle hidden-md-up">●</span>
      </a>
    </li>

    <li class="nav-item page-scroll">
      <a class="nav-link" href="#involucrate">
        <span class="hidden-sm-down">Involucrate</span>
        <span class="circle hidden-md-up">●</span>
      </a>
    </li>

    <li class="nav-item page-scroll">
      <a class="nav-link" href="#contacto">
        <span class="hidden-md-down">Contacto</span>
        <span class="circle hidden-md-up">●</span>
      </a>
    </li>

  </ul>
</nav>