<nav id="navbar" class="navbar navbar-custom navbar-fixed-top navbar-dark bg-inverse scrollspy" role="navigation">
  <a class="navbar-brand" href="#cover">
    <img class="hidden-sm-down" src="images/00-logo-navbar.png" alt="Coala" height="35" width="125">
    <img class="hidden-md-up" src="images/00-logo-navbar-small.png" alt="Coala" height="35" width="42">
  </a>

  <ul class="nav navbar-nav pull-md-right">

  <!--
    <li class="nav-item device-size-helper">
      <a class="nav-link" href="#">
        <span class="hidden-xs-down hidden-md-up">SM</span>
        <span class="hidden-sm-down hidden-lg-up">MD</span>
        <span class="hidden-md-down hidden-xl-up">LG</span>
        <span class="hidden-lg-down             ">XL</span>
      </a>
    </li>
  -->

    <li class="nav-item page-scroll">
      <a class="nav-link" href="#quienes-somos">
        <span class="hidden-xs-down">¿Quiénes somos?</span>
        <span class="circle hidden-sm-up">●</span>
      </a>
    </li>

    <li class="nav-item page-scroll">
      <a class="nav-link" href="#problematica">
        <span class="hidden-xs-down">Problemática</span>
        <span class="circle hidden-sm-up">●</span>
      </a>
    </li>

    <li class="nav-item page-scroll">
      <a class="nav-link" href="#propuesta">
        <span class="hidden-xs-down">Veganismo</span>
        <span class="circle hidden-sm-up">●</span>
      </a>
    </li>

    <li class="nav-item page-scroll">
      <a class="nav-link" href="#sumate">
        <span class="hidden-xs-down">Sumate</span>
        <span class="circle hidden-sm-up">●</span>
      </a>
    </li>

  </ul>
</nav>