<nav id="navbar" class="navbar navbar-custom navbar-fixed-top navbar-dark bg-inverse scrollspy" role="navigation">
  <a class="navbar-brand" href="#">
    <img id="logoimg" src="assets/logoinit.png" alt="Coala" height="35" width="125">
  </a>

  <ul class="nav navbar-nav pull-md-right">

    <li class="nav-item page-scroll">
      <a class="nav-link" href="#quienes-somos">
        <span class="hidden-sm-down">¿Quiénes somos?</span>
        <span class="hidden-md-up">Coala</span>
      </a>
    </li>

    <li class="nav-item page-scroll">
      <a class="nav-link" href="#problematica">
        <span class="hidden-sm-down">Problemática</span>
        <span class="hidden-md-up">Problema</span>
      </a>
    </li>

    <li class="nav-item page-scroll">
      <a class="hidden-md-down nav-link" href="#realidad">
        <span class="hidden-sm-down">Realidad</span>
      </a>
    </li>

    <li class="nav-item page-scroll">
      <a class="nav-link" href="#propuesta">
        <span class="hidden-sm-down">Propuesta</span>
        <span class="hidden-md-up">¿y?</span>
      </a>
    </li>

    <li class="nav-item page-scroll">
      <a class="nav-link" href="#involucrate">
        <span class="hidden-sm-down">Involucrate</span>
        <span class="hidden-md-up">Sumate</span>
      </a>
    </li>

    <li class="nav-item page-scroll">
      <a class="nav-link" href="#contacto">
        <span class="hidden-sm-down">Contacto</span>
        <span class="hidden-md-up">Conta</span>
      </a>
    </li>

  </ul>
</nav>