<meta content="{{ site.title }}" property="og:site_name">
<meta content="{{ page.longtitle }}" property="og:title">
<meta content="website" property="og:type">
<meta content="{{ site.description }}" property="og:description">
<meta content="{{ site.url }}{{ page.url }}" property="og:url">
<meta content="{{ site.url }}/images/open-graph/00-inicio.jpg" property="og:image">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.twitter_username }}">
<meta name="twitter:creator" content="@{{ site.twitter_username }}">
<meta name="twitter:title" content="{{ page.longtitle }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="{{ site.url }}/images/open-graph/00-inicio.jpg">