/* LESS THAN 48 */


#cover { height:60% !important;}

#menu-realidad {
  white-space: nowrap;
}

.nav-stacked .nav-item {
  display: inline-block;
  font-size: 0.5em;
  overflow: auto;
}

.navbar .circle {
  font-size:2em;
  line-height: 0.6em;
}