/* LESS THAN 34 */

#cover .fill{
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain !important;
  -moz-background-size: contain !important;
  background-size: contain !important;
  -o-background-size: contain !important;
  background-size: contain !important;
}

.nav-stacked .nav-item {
  font-size: 0.4em;
}