<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <meta content="{{ site.title }}" property="og:site_name">
    <meta content="{{ page.title }}" property="og:title">
    <meta content="article" property="og:type">
    {% if page.description %}
      <meta content="{{ page.description }}" property="og:description">
    {% else %}
      <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% if page.image %}
      <meta content="{{ site.url }}/images/og/{{ page.image }}" property="og:image">
    {% else %}
      <meta content="{{ site.url }}/images/00-cover-1920.jpg" property="og:image">
    {% endif %}
  </head>
  <body class="main">

    <nav id="navbar" class="navbar navbar-custom navbar-fixed-top navbar-dark bg-inverse" role="navigation">
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="images/00-logo-navbar.png" alt="Coala" height="35" width="125">
      </a>

      <ul class="nav navbar-nav pull-xs-right">

          {% for p in site.pages %}
            {% if p.url == page.url %}
              {% assign post_index0 = forloop.index0 %}
              {% assign post_index1 = forloop.index %}
          
              {% for post in site.pages %}
                {% if post_index0 == forloop.index %}
                  {% assign prev_post_url = post.url %}
                  {% assign prev_post_title = post.title %}
                {% endif %}
                {% if post_index1 == forloop.index0 %}
                  {% assign next_post_url = post.url %}
                  {% assign next_post_title = post.title %}
                {% endif %}
              {% endfor %}
          
              <nav id="paginador">
                {% if prev_post_url and post_index0 > 1 %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}{{ prev_post_url }}" title="{{ prev_post_title }}">❰</a>
                  </li>
                {% endif %}
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#page-navigation">+</a>
                  </li>
                {% if next_post_url and post_index0 < 13 %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}{{ next_post_url }}" title="{{ next_post_title }}">❱</a>
                  </li>
                {% endif %}
                </ul>
              </nav>
            {% endif %}
          {% endfor %}
      </ul>
    </nav>

    <article class="page container">

      <div class="row">
        <div class="col-md-3 col-xs-12">
          <ul id="page-navigation" class="nav nav-pills nav-stacked collapse in">
            {% for p in site.pages %}
              {% if p.url != '/' %}
              <li class="nav-item active">
                <a class="nav-link" {% if p.url == page.url %}class="active"{% endif %} href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="col-md-9 col-xs-12">
          <header class="page-header">          
            <h1 class="page-title">{{ page.title }}</h1>
          </header>
    
          <section class="page-content">
            {{ content }}
          </section>
        </div>
      </div>

    </article>

    <script>

    function deviceOS(useragent) { 
      if(useragent.match(/Android/i)) {
          return 'android';
      } else if(useragent.match(/webOS/i)) {
          return 'webos';
      } else if(useragent.match(/iPhone/i)) {
          return 'iphone';
      } else if(useragent.match(/iPod/i)) {
          return 'ipod';
      } else if(useragent.match(/iPad/i)) {
          return 'ipad';
      } else if(useragent.match(/Windows Phone/i)) {
          return 'windows phone';
      } else if(useragent.match(/SymbianOS/i)) {
          return 'symbian';
      } else if(useragent.match(/RIM/i) || useragent.match(/BB/i)) {
          return 'blackberry';
      } else {
          return false;
      }
    }


    function isVisible(obj) {
      return obj.offsetWidth > 0 && obj.offsetHeight > 0;
    }

    if( deviceOS(navigator.userAgent) ) {
      document.getElementById("page-navigation").classList.remove('in');
    }
    </script>

    <script src="{{ site.baseurl }}/js/collapse.js"></script>

  </body>

</html>