<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <meta content="{{ site.title }}" property="og:site_name">
    <meta content="{{ page.longtitle }}" property="og:title">
    <meta content="article" property="og:type">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ site.twitter_username }}">
    <meta name="twitter:creator" content="@{{ site.twitter_username }}">
    <meta name="twitter:title" content="{{ page.longtitle }}">
  {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
    <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
    <meta content="{{ site.description }}" property="og:description">
    <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% if page.image %}
    <meta content="{{ site.url }}/images/open-graph/{{ page.image }}" property="og:image">
    <meta name="twitter:image" content="{{ site.url }}/images/og/{{ page.image }}">
  {% else %}
    <meta content="{{ site.url }}/images/open-graph/00-inicio.jpg" property="og:image">
    <meta name="twitter:image" content="{{ site.url }}/images/open-graph/00-inicio.jpg">
  {% endif %}

  </head>
  <body class="main">

    <nav id="navbar" class="navbar navbar-custom navbar-fixed-top navbar-dark bg-inverse" role="navigation">
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="images/00-logo-navbar.png" alt="Coala" height="35" width="125">
      </a>

      <ul class="nav navbar-nav pull-xs-right">

          {% for p in site.pages %}
            {% if p.url == page.url %}
              {% assign post_index0 = forloop.index0 %}
              {% assign post_index1 = forloop.index %}
          
              {% for post in site.pages %}
                {% if post_index0 == forloop.index %}
                  {% assign prev_post_url = post.url %}
                  {% assign prev_post_title = post.title %}
                {% endif %}
                {% if post_index1 == forloop.index0 %}
                  {% assign next_post_url = post.url %}
                  {% assign next_post_title = post.title %}
                {% endif %}
              {% endfor %}
          
              <nav id="paginador">
                {% if prev_post_url and post_index0 > 1 %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}{{ prev_post_url }}" title="{{ prev_post_title }}">❰</a>
                  </li>
                {% endif %}
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#page-navigation">+</a>
                  </li>
                {% if next_post_url and post_index0 < 13 %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}{{ next_post_url }}" title="{{ next_post_title }}">❱</a>
                  </li>
                {% endif %}
                </ul>
              </nav>
            {% endif %}
          {% endfor %}
      </ul>
    </nav>

    <article class="page container">

      <div class="row">
        <div class="col-md-4 col-xs-12">
          <ul id="page-navigation" class="nav nav-pills nav-stacked collapse in left-navigator">
            {% for p in site.pages %}
              {% if p.url != '/' and p.url != '/sitemap' %}
              <li class="nav-item active">
                <a class="nav-link" {% if p.url == page.url %}class="active"{% endif %} href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="col-md-8 col-xs-12">
          <header class="page-header">          
            <h1 class="page-title">{{ page.title }}</h1>
          </header>
    
          <section class="page-content">
            <img class="principal-image img-fluid" src="images/principal/256/{{ page.image }} 256w"
                 srcset="images/principal/256/{{ page.image }} 256w,
                         images/principal/512/{{ page.image }} 512w,
                         images/principal/1024/{{ page.image }} 1024w">

            <section class="main-content">
              {{ content }}
            </section>

            {% if page.kind == 'explotacion' %}
            <section>
            <p class="lead">
            Las prácticas descriptas en esta sección no son hechos aislados sino que son habituales. En la medida en que no cambiemos nuestra mirada hacia los animales, jamás habrá un cambio significativo para ellos en su terrible situación. Es por esto que debemos abolir todo uso animal. Esto en la práctica significa <a href="{{ site.baseurl }}/veganismo" title="Veganismo">ser veganos</a>.
            </p>
            </section>
            {% endif %}

            <section class="pager">

            {% if prev_post_url and post_index0 > 1 %}
              <a class="btn btn-primary" href="{{ site.baseurl }}{{ prev_post_url }}">❰ {{ prev_post_title }}</a>
            {% endif %}

            {% if next_post_url and post_index0 < 13 %}
              <a class="btn btn-primary" href="{{ site.baseurl }}{{ next_post_url }}">{{ next_post_title }} ❱</a>
            {% endif %}

            </section>
                
          </section>
        </div>
      </div>

    </article>

    {% include footer.html %}

    <script>

    function deviceOS(useragent) { 
      if(useragent.match(/Android/i)) {
          return 'android';
      } else if(useragent.match(/webOS/i)) {
          return 'webos';
      } else if(useragent.match(/iPhone/i)) {
          return 'iphone';
      } else if(useragent.match(/iPod/i)) {
          return 'ipod';
      } else if(useragent.match(/iPad/i)) {
          return 'ipad';
      } else if(useragent.match(/Windows Phone/i)) {
          return 'windows phone';
      } else if(useragent.match(/SymbianOS/i)) {
          return 'symbian';
      } else if(useragent.match(/RIM/i) || useragent.match(/BB/i)) {
          return 'blackberry';
      } else {
          return false;
      }
    }


    function isVisible(obj) {
      return obj.offsetWidth > 0 && obj.offsetHeight > 0;
    }

    if( deviceOS(navigator.userAgent) ) {
      document.getElementById("page-navigation").classList.remove('in');
    }
    </script>

    <script src="{{ site.baseurl }}/js/collapse.js"></script>

  </body>

</html>